<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Scanner</title>
    <link rel="stylesheet" href="../static/styles.css">

    <script>
        function showSelectedImage(event) {
            const file = event.target.files[0];
            const imgElement = document.getElementById('selectedImage');

            const reader = new FileReader();
            reader.onload = function (e) {
                imgElement.src = e.target.result;
                imgElement.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }



        function displayImage(event) {
            event.preventDefault();

            const formData = new FormData(event.target);

            fetch('/doc-scanner/scan', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.detected_text) {
                        const textDisplayElement = document.getElementById('scannedText');
                        textDisplayElement.textContent = data.detected_text;
                        textDisplayElement.style.display = 'block';
                    } else {
                        console.error('No text detected or returned');
                        alert('Nie wykryto tekstu lub wystąpił błąd.');
                    }
                 })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Wystąpił błąd podczas skanowania.');
                });
        }

    </script>

</head>

<body>
<div class="container">
    <h1 class="scan-title">Scan Your Image</h1>
    <div class="column">
        <form class="file-form" action="/doc-scanner/scan" method="POST" enctype="multipart/form-data"
              onsubmit="displayImage(event)">
            <input class="file-input" type="file" id="file" name="file" accept="image/*" required
                   onchange="showSelectedImage(event)">
            <br>
            <button type="submit">Skanuj</button>
        </form>

        <div class="row">
            <div class="column">
                <h3>Choosen image:</h3>
                <img id="selectedImage" alt="Choosen image"/>
            </div>

            <div class="column">
                <h3>Scanned text</h3>
                <div id="scannedText"></div>
            </div>
        </div>
    </div>

</div>
</body>

</html>